<html></html>
	<head>
		<title>Home Page </title>
	</head>
	<body>
		    <!-- 
	<form class="form-inline"   action="/register" method="post">
                <input class="form-control mr-sm-2" type="text"  id="name" name="name" value=""  placeholder="Search" >
                <input type="submit" value="Submit" />
      <!--      <button class="btn btn-success" type="Submit" value="Submit">Search</button> -->
            </form>
   -->         
      	<h1>welcome to Registration page</h1>
		<form  action="/register" method="post" object="user">		
			Enter the name : <input type="text" id="name" name="name"><br><br>
			Enter the username : <input type="text" id="username" name="username"><br><br>
			Enter the password : <input type="text" id="password" name="password"><br><br>
			Enter the dob : <input type="text" id="dob" name="dob"><br><br>
			
			<label>Select Technology:</label>
			Java <input type="checkbox" id="technology" value="java" name="technology">
			Python <input type="checkbox" id="technology" value="python" name="technology">
			NodeJs <input type="checkbox" id="technology" value="NodeJS" name="technology">
			Angular <input type="checkbox" id="technology" value="Angular" name="technology">
		
			<button type="submit"> Save Form</button>
</html>
